# Ignore virtual environment
venv/

# Ignore data files
data/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# .gitignore
*.zip
*.h5
*.pkl
*.jpg
*.png
data/
model/